body {
	box-sizing: border-box;
	padding:0;
	margin:0;
}

header {
	position: relative;
	font-family: Monoton;
	margin:0;
	box-sizing:border-box;
	font-size: 5.3em;
	display: flex;
	justify-content: center;
}

#theatre {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

nav {
	font-size: 1em;
	font-family: Limelight;
	font-color:#880000;
	margin-top:0.5%;
	box-sizing:border-box;
	border-top: 2px solid #880000;
	border-bottom: 2px solid #880000;

}

nav ul {
	position: relative;
	margin-top:0.3%;
	margin-bottom:0.3%;
	display: flex;
	justify-content: space-around;
}

nav ul li{
	margin:0;
}

a:hover {
	color: salmon;
	text-decoration: none;
}

a {
	text-decoration:none;
	color:#6b3f3f;
	transition:color 0.7s;
}

#startsection { 
	position:relative;
	margin:0;
	box-sizing: border-box;
	padding:0;
	display: flex;
	justify-content: center;
	align-items: center;

 }

.shows {
	font-size: 3em;
	font-family: Limelight;
	font-color:#880000;
	line-height: 1.5em;
	margin:0;
	padding-right:1%;
	padding.top:0.5%;
	box-sizing: border-box;


}

.parent {
	position:relative;
	width: 40%;
	padding:0;
	margin-top:2%;
	margin-right: 3%;
	margin-bottom:0;
	margin-left:6%;
	box-sizing: border-box;
	border-radius: 3%;
}

.picture {
	width:100%;
	height:auto;
	border-radius: 3%;
}

.overlay {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(255,255,255,0.8);
	width:100%;
	height:100%;
	-webkit-transform:scale(0);
	transition: .5s ease;
	border-radius: 3%;
}

.parent:hover .overlay {
	transform: scale(1);
}

.text {
	color:black;
	font-family: Rufina;
	font-size:1.3em;
	position: absolute;
	text-align:center;
}

.dots {
	margin:0;
	padding:0;
	width:15%;
	box-sizing:border-box;

}

.dotty {
	padding:0;
	margin:0;
	box-sizing: border-box;
	width:100%;
	height:30%;
}

.aside {
	margin:0;
	width:30%;
	padding:2%;
	font-size:1.7em;
	font-family: Limelight;
	font-color: #6b3f3f;
	box-sizing: border-box;
	display:block;
	line-height: 1.6em;

}

.aside p {
	font-family: Yesteryear;
	font-size: 1.5em;
	color:#AE3450;

}

.inside {
	width:100%;
	text-align: center;
}

article {
	position:relative;
	margin:0;
	width:100%;
	box-sizing: border-box;
	padding:0;
	display:flex;
	justify-content: center;
	
}


#pen {
	position:absolute;
	width:40%;
	height:10%;
	bottom:3.5%;

}

span {
	font-size: 1.5em;
	color:#AE3450;
}

/*the hard part begins*/

#background {
	position: fixed;
	background-color: black;
	opacity:0;
	z-index:-1;
	margin:0;
	padding:0;
	box-sizing: border-box;
	width: 98vw;
	height:100vh;
	overflow:hidden;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation-name:fade;
	animation-timing-function: step-end;
	animation-duration: 0.3s;
	animation-iteration-count: 1;



}

#jester {
	position:absolute;
	margin:0;
	padding:0;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

}

@keyframes fade {
	from {
		opacity: 1;
		z-index: 5;
	
	}
	to {
		opacity:0;
		z-index:-1;
	}
}

#background2 {
	position: fixed;
	background-color: black;
	opacity:0;
	z-index:-2;
	margin:0;
	padding:0;
	box-sizing: border-box;
	width: 98vw;
	height:100vh;
	overflow:hidden;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation-name:fade;
	animation-timing-function: step-end;
	animation-delay:0.3s;
	animation-duration: 0.25s;
	animation-iteration-count: 1;



}

#ballet {
	position:absolute;
	margin:0;
	padding:0;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

}

#background3 {
	position: fixed;
	background-color: black;
	opacity:0;
	z-index:-1;
	margin:0;
	padding:0;
	box-sizing: border-box;
	width: 98vw;
	height:98vh;
	overflow:hidden;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation-name:fade;
	animation-timing-function: step-end;
	animation-delay: 0.55s;
	animation-duration: 0.2s;
	animation-iteration-count: 1;



}

#scream {
	position:absolute;
	margin:0;
	padding:0;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

}

#background4 {
	position: fixed;
	background-color: black;
	opacity:0;
	z-index:-1;
	margin:0;
	padding:0;
	box-sizing: border-box;
	width: 98vw;
	height:100vh;
	overflow:hidden;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation-name:fade;
	animation-timing-function: step-end;
	animation-delay: 0.75s;
	animation-duration: 0.2s;
	animation-iteration-count: 1;



}

#bouquet {
	position:absolute;
	margin:0;
	padding:0;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

}

#background5 {
	position: fixed;
	background-color: black;
	opacity:0;
	z-index:-1;
	margin:0;
	padding:0;
	box-sizing: border-box;
	width: 98vw;
	height:100vh;
	overflow:hidden;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation-name:fade;
	animation-timing-function: step-end;
	animation-delay: 0.95s;
	animation-duration: 0.18s;
	animation-iteration-count: 1;



}

#dance {
	position:absolute;
	margin:0;
	padding:0;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

}

#background6 {
	position: fixed;
	background-color: black;
	opacity:0;
	z-index:-2;
	margin:0;
	padding:0;
	box-sizing: border-box;
	width: 98vw;
	height:100vh;
	overflow:hidden;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation-name:fade;
	animation-timing-function: step-end;
	animation-delay: 1.13s;
	animation-duration: 0.12s;
	animation-iteration-count: 1;



}

#popart {
	position:absolute;
	margin:0;
	padding:0;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

}


#background7 {
	position: fixed;
	background-color: black;
	opacity:0;
	z-index:-2;
	margin:0;
	padding:0;
	box-sizing: border-box;
	width: 98vw;
	height:100vh;
	overflow: hidden;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation-name:fade;
	animation-timing-function: step-end;
	animation-delay: 1.25s;
	animation-duration: 0.12s;
	animation-iteration-count: 1;



}

#abstract {
	position:absolute;
	margin:0;
	padding:0;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

}

#background8 {
	position: fixed;
	background-color: black;
	opacity:0;
	z-index:-2;
	margin:0;
	padding:0;
	box-sizing: border-box;
	width: 98vw;
	height:100vh;
	overflow: hidden;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation-name:fade;
	animation-timing-function: step-end;
	animation-delay: 1.37s;
	animation-duration: 0.12s;
	animation-iteration-count: 1;



}

#broadway {
	position:absolute;
	margin:0;
	padding:0;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

}
#background9 {
	position: fixed;
	background-color: black;
	opacity:0;
	z-index:-2;
	margin:0;
	padding:0;
	box-sizing: border-box;
	width: 98vw;
	height:100vh;
	overflow: hidden;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation-name:fade;
	animation-timing-function: step-end;
	animation-delay: 1.49s;
	animation-duration: 0.12s;
	animation-iteration-count: 1;



}

#orchestra {
	position:absolute;
	margin:0;
	padding:0;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

}

#background10 {
	position: fixed;
	background-color: black;
	opacity:0;
	z-index:-2;
	margin:0;
	padding:0;
	box-sizing: border-box;
	width: 98vw;
	height:100vh;
	overflow: hidden;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation-name:fade;
	animation-timing-function: step-end;
	animation-delay: 1.61s;
	animation-duration: 0.12s;
	animation-iteration-count: 1;



}

#revolution {
	position:absolute;
	margin:0;
	padding:0;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

}

#background11 {
	position: fixed;
	background-color: black;
	opacity:0;
	z-index:-2;
	margin:0;
	padding:0;
	box-sizing: border-box;
	width: 98vw;
	height:100vh;
	overflow: hidden;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation-name:fade;
	animation-timing-function: step-end;
	animation-delay: 1.73s;
	animation-duration: 0.12s;
	animation-iteration-count: 1;



}

#emily {
	position:absolute;
	margin:0;
	padding:0;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

}

#background12 {
	position: fixed;
	background-color: black;
	opacity:0;
	z-index:-2;
	margin:0;
	padding:0;
	box-sizing: border-box;
	width: 98vw;
	height:100vh;
	overflow: hidden;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	animation-name:slowfade;
	animation-delay: 1.85s;
	animation-duration: 9s;
	animation-iteration-count: 1;


}

#mask {
	position:absolute;
	margin:0;
	padding:0;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	box-sizing: border-box;

}

@keyframes slowfade {
	from {
		opacity: 1;
		z-index: 5;
}
	to {
		opacity:0;
		z-index: -2;
	}